@page "/clubs/{ClubId:guid}/players"
@using SmashScheduler.Application.Services.PlayerManagement
@using SmashScheduler.Domain.Entities
@using SmashScheduler.Domain.Enums
@using SmashScheduler.Web.Components
@inject IPlayerService PlayerService
@inject IDialogService DialogService

<PageTitle>Players</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Players</MudText>

@if (_players == null)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <MudGrid>
        @foreach (var player in _players)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardContent>
                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start">
                            <div>
                                <MudText Typo="Typo.h5">@player.Name</MudText>
                                <MudChip T="string" Color="Color.Primary" Size="Size.Small">Skill: @player.SkillLevel</MudChip>
                                <MudText Typo="Typo.body2">@player.Gender</MudText>
                                <MudText Typo="Typo.body2">@player.PlayStylePreference</MudText>
                            </div>
                            <MudStack Row="true" Spacing="1">
                                <MudTooltip Text="Edit Player">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Color="Color.Primary"
                                                   Size="Size.Small"
                                                   OnClick="@(() => OpenEditDialog(player))" />
                                </MudTooltip>
                                <MudTooltip Text="Manage Blacklist">
                                    <MudIconButton Icon="@Icons.Material.Filled.Block"
                                                   Color="Color.Default"
                                                   Size="Size.Small"
                                                   OnClick="@(() => OpenBlacklistDialog(player))" />
                                </MudTooltip>
                            </MudStack>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <MudFab Class="smash-fab smash-fab-fixed"
            StartIcon="@Icons.Material.Filled.Add"
            Label="Add Player"
            OnClick="OpenCreateDialog" />
}

@code {
    [Parameter] public Guid ClubId { get; set; }
    private List<Player>? _players;

    protected override async Task OnInitializedAsync()
    {
        _players = await PlayerService.GetByClubIdAsync(ClubId);
    }

    private async Task OpenCreateDialog()
    {
        var parameters = new DialogParameters<PlayerEditorDialog>
        {
            { x => x.ClubId, ClubId }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        var dialog = await DialogService.ShowAsync<PlayerEditorDialog>("Add Player", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            _players = await PlayerService.GetByClubIdAsync(ClubId);
        }
    }

    private async Task OpenEditDialog(Player player)
    {
        var parameters = new DialogParameters<PlayerEditorDialog>
        {
            { x => x.Player, player },
            { x => x.ClubId, ClubId }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        var dialog = await DialogService.ShowAsync<PlayerEditorDialog>("Edit Player", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            _players = await PlayerService.GetByClubIdAsync(ClubId);
        }
    }

    private async Task OpenBlacklistDialog(Player player)
    {
        var parameters = new DialogParameters<BlacklistEditorDialog>
        {
            { x => x.Player, player },
            { x => x.ClubPlayers, _players! }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        await DialogService.ShowAsync<BlacklistEditorDialog>("Manage Blacklist", parameters, options);
    }
}
