@page "/clubs/{ClubId:guid}/players"
@using SmashScheduler.Application.Services.ClubManagement
@using SmashScheduler.Application.Services.PlayerManagement
@using SmashScheduler.Domain.Entities
@using SmashScheduler.Domain.Enums
@using SmashScheduler.Web.Services
@inject IPlayerService PlayerService
@inject IDialogService DialogService
@inject IBreadcrumbService BreadcrumbService
@inject IClubService ClubService

<PageTitle>Players</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Players</MudText>

@if (_players == null)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <MudGrid>
        @foreach (var player in _players)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardContent>
                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start">
                            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">
                                <MudAvatar Size="Size.Large" Variant="Variant.Filled" Style="@GetAvatarStyle(player)">
                                    @player.Name[0]
                                </MudAvatar>
                                <div>
                                    <MudText Typo="Typo.h5">@player.Name</MudText>
                                    <MudStack Row="true" Spacing="2" AlignItems="AlignItems.Center">
                                        <MudChip T="string" Color="Color.Primary" Size="Size.Small">Skill: @player.SkillLevel</MudChip>
                                        <MudText Typo="Typo.body2">@GetPlayStyleLabel(player.PlayStylePreference)</MudText>
                                    </MudStack>
                                </div>
                            </MudStack>
                            <MudStack Row="true" Spacing="1">
                                <MudTooltip Text="Edit Player">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Color="Color.Primary"
                                                   Size="Size.Small"
                                                   OnClick="@(() => OpenEditDialog(player))" />
                                </MudTooltip>
                                <MudTooltip Text="Manage Blacklist">
                                    <MudIconButton Icon="@Icons.Material.Filled.Block"
                                                   Color="Color.Default"
                                                   Size="Size.Small"
                                                   OnClick="@(() => OpenBlacklistDialog(player))" />
                                </MudTooltip>
                            </MudStack>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>

    <MudFab Class="smash-fab smash-fab-fixed"
            StartIcon="@Icons.Material.Filled.Add"
            Label="Add Player"
            OnClick="OpenCreateDialog" />
}

@code {
    [Parameter] public Guid ClubId { get; set; }
    private List<Player>? _players;

    protected override async Task OnInitializedAsync()
    {
        _players = await PlayerService.GetByClubIdAsync(ClubId);
        var club = await ClubService.GetByIdAsync(ClubId);
        
        var items = new List<BreadcrumbItem> { 
            new("Home", "/"), 
            new("Clubs", "/clubs"),
            new(club?.Name ?? "club", $"/clubs/{ClubId}")
        };
        BreadcrumbService.SetBreadcrumbs(items);
    }

    private async Task OpenCreateDialog()
    {
        var parameters = new DialogParameters<PlayerEditorDialog>
        {
            { x => x.ClubId, ClubId }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        var dialog = await DialogService.ShowAsync<PlayerEditorDialog>("Add Player", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            _players = await PlayerService.GetByClubIdAsync(ClubId);
        }
    }

    private async Task OpenEditDialog(Player player)
    {
        var parameters = new DialogParameters<PlayerEditorDialog>
        {
            { x => x.Player, player },
            { x => x.ClubId, ClubId }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        var dialog = await DialogService.ShowAsync<PlayerEditorDialog>("Edit Player", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            _players = await PlayerService.GetByClubIdAsync(ClubId);
        }
    }

    private async Task OpenBlacklistDialog(Player player)
    {
        var parameters = new DialogParameters<BlacklistEditorDialog>
        {
            { x => x.Player, player },
            { x => x.ClubPlayers, _players! }
        };

        var options = new DialogOptions
        {
            MaxWidth = MaxWidth.Small,
            FullWidth = true,
            CloseOnEscapeKey = true
        };

        await DialogService.ShowAsync<BlacklistEditorDialog>("Manage Blacklist", parameters, options);
    }

    private string GetAvatarStyle(Player player) => player.Gender switch
    {
        Gender.Female => "background-color: var(--smash-gender-female);",
        Gender.Male => "background-color: var(--smash-gender-male);",
        _ => "background-color: var(--smash-gender-other);"
    };

    private string GetPlayStyleLabel(PlayStylePreference style) => style switch
    {
        PlayStylePreference.Level => "Level-based",
        PlayStylePreference.Mixed => "Mixed",
        PlayStylePreference.Open => "Open",
        _ => style.ToString()
    };
}
